.debug nav [class*="col-"] {
    min-height: 100px;
    background-color: #2c3e50;
    border: solid 1px red;
}
.debug #jumbotron [class*="col-"] {
    min-height: 100px;
    background-color: #1abc9c;
    border: solid 1px red;
}
.debug main [class*="col-"] {
    min-height: 100px;
    background-color: black;
    border: solid 1px red;
}
.debug footer [class*="col-"] {
    min-height: 100px;
    background-color: #3a546d;
    border: solid 1px red;
}
.debug #copyright [class*="col-"] {
    min-height: 100px;
    background-color: #2c3e50;
    border: solid 1px red;
}