/* common */
h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

h3 {
    color: white;
    font-size: 24px;
}

.ms_separator {
    position: relative;
    line-height: 50px;
}
.ms_longbar {
    display: inline-block;
    width: calc(40% - 4px);
    border: 2px solid white;
    border-radius: 2px;
    vertical-align: middle;
}
.ms_longbar:last-child {
    margin-left: 20%;
}
.ms_star {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    color: white;
    font-size: 30px;
}

/* navbar */
#ms_navbar {
    margin: 0;
    padding: 20px 0;
    background-color: #2c3e50;
    border: 0;
}

#ms_navbar a {
    color: white;
    font-weight: 700;
}
.ms_navtitle {
    font-size: 30px;
}
.ms_navlinks {
    font-size: 18px;
}

/* jumbotron */
#jumbotron {
    padding: 140px 0 50px;
    background-color: #1abc9c;
    min-height: 100px;
}

#ms_avatarimg {
    display: block;
    margin: auto;
    height: 250px;
}



/* portfolio */
#portfolio {
    padding: 50px 0;
}

#portfolio h2 {
    color: #2c3e50
}

#portfolio .ms_longbar {
    border-color: #2c3e50;
}
#portfolio .ms_star {
    color: #2c3e50;
}

.ms_portfolio_item img {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}